# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
local_settings.py
db.sqlite3
media

# Node modules
node_modules/

# Virtual environment
.venv
venv/
ENV/

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# MacOS folder attribute file
.DS_Store

# MacOS Icon?
Icon?

# PyCharm
.idea/

# VS Code
.vscode/
