@tailwind base;
@tailwind components;
@tailwind utilities;

.compact-nav {
    transition:width .4s;
}

.notification-tray {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none; /* Initially hidden */
}